html,
body {
  height: 100%;
}

body {
  @extend %rubik-400;
  font-size: 14px;
  line-height: 24px;
  color: $default;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container-fluid {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  @extend %rubik-400;
  font-size: 14px;
  line-height: 24px;
  color: $default;
}

.title {
  @extend %dmsans-700;
  font-size: 36px;
  line-height: 42px;
  color: $title;
  text-align: center;
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  &__list {
    display: inline-flex;
  }
  &__item {
    padding-right: 5px;
    color: #737980;
      &::after {
      content: '/';
      padding-left: 5px; 
      color: #737980;
    }
    &:last-child {
      padding-right: 0;
      &:after {
        display: none;
      }
    }
  }  
}

.pagination {
  display: flex;
  justify-content: center;
  &__list {
    display: flex;      
  }
  .pagination__item {
    display: flex;   
    margin-right: 14px;         
  }
  &__link {
    width: 50px; 
  } 
  &__next {   
    width: 74px;
  }
  &__link,
  &__next {
    text-align: center;
    font-size: 16px;
    color: $accent;
    border: 1px solid $neptun;
    padding: 12px;
  }
  .pagination__link--active {    
    background-color: $neptun;
    color: #fff;
  }
}

.pagination-shop__list {
  justify-content: start;
  padding-top: 36px;
}
