html,
body {
  height: 100%;
}

body {
  @extend %rubik-400;
  font-size: 14px;
  line-height: 24px;
  color: $default;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container-fluid {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  @extend %rubik-400;
  font-size: 14px;
  line-height: 16px;
  color: $default;
}

.title {
  @extend %dmsans-700;
  font-size: 36px;
  line-height: 42px;
  color: $title;
  text-align: center;
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  &__list {
    display: inline-flex;
  }
  &__item {
    padding-right: 6px;
    color: #737980;
      &::after {
      content: '/';
      padding-left: 5px; 
      color: #737980;
    }
    &:last-child {
      padding-right: 1px;
      &:after {
        display: none;
      }
    }
  }  
}

.top-container {
  background-color: #edf1f4;
  padding: 37px 0 30px;
  text-align: center;

  &__title {
    @extend %rubik-300;
    font-size: 36px;
    line-height: 34px;
    color: #222933;
    margin-bottom: 12px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  &__list {
    display: flex;      
  }
  .pagination__item {
    display: flex;   
    margin-right: 16px;         
  }
  &__link {
    width: 50px; 
    height: 50px;
  } 
  &__next {   
    width: 74px;
  }
  &__link,
  &__next {
    text-align: center;
    font-size: 16px;
    color: $accent;
    border: 1px solid $neptun;
    padding: 15px;
  }
  .pagination__link--active {    
    background-color: $neptun;
    color: #fff;
  }
}

.pagination-shop__list {
  justify-content: start;
  padding-top: 22px;
}

@media (max-width: 1200px) {
  .container-fluid {
    padding: 0 10px;
  }
}

@media (max-width: 1060px) {
  .title {
    font-size: 32px;
    line-height: 36px;
  }
  .breadcrumbs {
    flex-wrap: wrap;
  }
}

@media (max-width: 935px) {
  .title {
    font-size: 30px;
    line-height: 32px;
  }
}

@media (max-width: 790px) {
  .container-fluid {
    padding: 0 5px;
  }
}
