@import 'reset';
@import 'fonts';
@import 'vars';
@import 'libs';
@import 'global';

.header {
  padding: 50px 0 42px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.menu{
  margin-left: 150px;
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    padding-left: 34px;
  }
  &__list-link {
    @extend %rubik-500;
    font-size: 15px;
    line-height: 34px;
    color: #436372;
  }
}

.user-nav {
  display: flex;
  align-items: center;  
  &__search {
    width: 51px;
    height: 51px;
    margin-right: 20px;
    padding: 18px;
    background-color: #edf1f4;
    border-radius: 50%;
  }
  &__purchase {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 178px;
    height: 51px;
    margin-right: 17px;
    background-color: #fcd7b6;
    border-radius: 50px;       
  }
  &__purchase-link {
    position: relative;    
  }
  &__num {
    @extend %dmsans-400;
    font-size: 10px;
    line-height: 16px;
    color: $accent;  
    text-align: center;
    width: 16px;
    height: 16px;
    top: -9px;
    right: -10px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
  }
  &__menu {
    width: 51px;
    height: 51px;
    background-color: #a3bbc8;
    border-radius: 50%;
    padding: 16px;  
  }
}

.top-slider {  
  &__inner {
    background-color: #fcd7b6;    
  }
  &__item {
    display: flex !important;
    justify-content: space-between;
    margin: 0 auto 207px;
    max-width: 1173px;
    position: relative;   
    &::after {
      content: '';
      top: 99px;
      right: -115px;
      width: 634px;
      height: 634px;      
      background: linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      position: absolute;
      border-radius: 50%;      
      z-index: 1;
    }
  }
  &__content {
    padding-top: 218px;  
  }
  &__title {
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: $accent;
    width: 500px;
    margin-bottom: 25px;
    text-transform: uppercase;
  }
  &__text {
    font-size: 18px;
    line-height: 30px;
    color: #436372;
    width: 370px;
    margin-bottom: 36px;
  }
  &__link {
    padding: 24px 0 21px 27px;
    background-color: #a3bbc8;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 15px;
    color: #fff; 
    display: inline-block;
  }
  &__link::after {
    content: url('../images/icons/arrow.svg');
    padding-left: 60px;
    padding-right: 19px;
  }
  &__img {
    width: 640px;
    height: 264px;
    margin-top: 275px;  
    position: relative;    
    z-index: 999;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    padding-bottom: 45px;
    li{
      padding-left: 10px;
      button {
        padding: 0;
        width: 30px;
        height: 29px;
        border: none;
        border-radius: 50%;
        background-color: #fde3cc;
        @extend %rubik-500;
        font-size: 11px;
        color: #667983;
      }
      &.slick-active {
        button {
          background-color: #fff;
          color: $accent;
        }
      }      
    }    
  }
}

.info {
  margin-bottom: 74px;
  &__inner {
    background-color: $bg;
    display: flex;
    height: 170px;
    z-index: 0;    
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.333%;
    width: 100%;    
    border-left: 1px solid #a3bac7;     
  }
  &__item:first-child {
    border: none;
  }
  &__item-support,
  &__item-payment {
    align-self: flex-start;
    margin-top: 47px;
  }
  &__item-delivery {
    align-self: flex-start;
    margin-top: 62px;
  }
  &__item-content {
    width: 226px;
    margin-left: 20px;      
    position: relative;   
    &::before {
      content: '';
      width: 20px;
      height: 21px;
      background-color: #dfe3e2;
      border-radius: 50%;      
      top: 44%; 
      margin-left: -35px;
      opacity: 0.4;
      position: absolute;     
    }    
  } 
  &__item-title {
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
  }
  &__item-text {
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 30px;
    color: #585858;
  } 
}

.week-products {
  &__filter-btn {
    margin-top: 25px;
    text-align: center;
    margin-bottom: 78px;
  }
  &__btn {
    @extend %menu-btn;       
  }
  &__btn + .week-products__btn {
    margin-left: 30px;
  } 
  &__content-title {
    @extend %dmsans-500;
    font-size: 16px;
    line-height: 18px;
    color: $accent;
  }  
  &__content-text {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 40px;
    color: #a3bbc8;
    text-align: center;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;    
    margin-bottom: 183px;
  }
  &__item {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 272px;
    width: 100%;
    height: 380px;
    padding: 30px 0 25px;
  } 
  &__item-img {
    object-fit: cover;
  } 
  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: transparent;
    transition: opacity .3s;
  }
  &__overlay-links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
    display: flex;
    justify-content: center;
    transition: all .3s;
  }
  &__overlay-link + .week-products__overlay-link {
    margin-left: 16px;
  }
  &__overlay-link {    
    width: 45px;
    height: 45px;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 50%; 
    position: relative;
    &:hover {
      background-color: #a3bbc8;
      transition: all .3s;
    }          
  }
  &__overlay-img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;       
  }    
}

.week-products__card:hover .week-products__overlay {
  opacity: 1;
  transition: all .3s;
}

.week-products__overlay-link:hover path {
  fill: #fff;
  transition: all .3s;
}
.mixitup-control-active {
  color: $title;
}

.lamp-card {  
  &__inner {
  display: flex;
  justify-content: space-between; 
  margin-bottom: 60px; 
  }
 &__item {       
    background-color: #feefe2;
    max-width: 870px;
    width: 100%;
    height: 390px; 
    position: relative; 
    padding-top: 83px;
    display: flex;
    justify-content: flex-end; 
    padding-right: 90px;  
    &:first-child {
      margin-right: 25px;
    }               
  }  
  &__content {
    width: 350px; 
  }
  &__content_first-card {
    margin-top: 12px;
    margin-right: 43px;       
  }
  &__item-img { 
    position: absolute;
    top: -100px;
    left: 135px;
  }
  &__content-title {
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    color: $accent;
    margin-bottom: 9px;
  }
  &__content-text {
    font-size: 16px;
    line-height: 30px;
    color: $accent;
    margin-bottom: 46px;
  }
  &__content-link {    
    @extend %rubik-500;
    font-size: 15px;
    line-height: 1;
    color: #436372;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    padding: 20px 0 21px 17px;    
    &::after {
      content: url('../images/icons/arrow-2.svg');
      padding-left: 42px;
      padding-right: 19px;      
    }    
  }
}

.new-design {
  margin: 102px 0 122px;
  &__filter-btn {
    margin:24px 0 73px;
    text-align: center;
  }
  &__btn {
    @extend %menu-btn;
  }
  &__btn + .new-design__btn {
    margin-left: 30px;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px 30px;    
  }
  &__item {
    height: 246px; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: right bottom;
    object-fit: cover;
  }
  &__content {
    padding: 40px 0 0 38px;
  }
  &__content-title {
    @extend %dmsans-700;
    font-size: 20px;
    color: $title;
    width: 176px;
    margin-bottom: 11px;
  }
  &__content-text {
    @extend %dmsans-700;
    font-size: 16px;
    color: #a3bbc8;
  }
}

.video {
  &__popup {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 500px;
    position: relative;
    margin-bottom: 112px;
  }
  &__play-btn {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
  }
}

.blog{
  margin-bottom: -173px;
  &__inner-top {
    margin-bottom: 46px;
  }
  &__inner-top,
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;    
  }  
  &__inner-link {
    display: block;
    @extend %dmsans-700;
    font-size: 16px;
    color: #262626;    
    position: relative;
    &::after {
      content: '>';
      padding-left: 14px;
    }
  }
  &__item {
    width: 370px;    
    border-radius: 5px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }
  &__item-img {
    object-fit: cover;
  }
  &__item-content {
    padding: 0 28px 23px 28px;
    background-color: #fff;    
  }
  &__item-news {
    @extend %poppins-700;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    background-color: #a3bbc8;
    border-radius: 25px;
    display: block;
    width: 103px;
    height: 30px;
    text-align: center; 
    padding: 5px 0;
    margin: -15px 0 19px;
    position: relative;
    z-index: 9999;    
  }
  &__item-title {
    @extend %dmsans-500;
    font-size: 18px;
    line-height: 22px;
    color: #262626;
    padding-bottom: 18px;
    border-bottom: 1px solid #e0e0e0;
    height: 78px;
    overflow: hidden;    
  }
  &__item-bottom {
    display: flex; 
    padding-top: 14px;   
  }
  &__item-date {
    padding-right: 24px;
  }
  &__item-date,
  &__item-author {
    font-size: 12px;
    color: #222933;
    text-transform: uppercase;
    padding-left: 20px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      top: 4px;
      left: 0;
      background-repeat: no-repeat;
    }  
  }
  &__item-date::before {
    background-image: url(../images/icons/data.svg);
  }
  &__item-author::before {
    background-image: url(../images/icons/user.svg);
  }
}

.clients {
  padding: 262px 0 90px;
  background-color: $bg;
  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.footer-top {
  padding: 78px 5px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  &__logo {
    margin-bottom: 26px;
    display: block;
  }
  &__item {
    max-width: 300px;
    width: 100%;
  }
  &__adress,
  &__phone,
  &__email {
    display: block;
    margin-bottom: 12px;    
  }
  &__adress{
    width: 194px;
  }
  &__title {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 52px;
    color: #1f2044;
    text-transform: uppercase;
    margin-bottom: 2px;
  }
  &__link {
    display: block;
    margin-bottom: 10px;
  }
  &__text {
    max-width: 240px;
    width: 100%;
    margin-bottom: 34px;
  }
  &__form {
    display: flex;
    max-width: 270px;
    width: 100%;
  }
  &__form-input {
    border: none;
    background-color: $bg; 
    width: 172px;   
    padding: 7px 10px 11px 14px;    
    &::placeholder {
      @extend %dmsans-400;
      font-size: 12px;
      color: #234969;
    }
  }  
  &__form-btn {
    border: none;
    background-color: #a3bbc8;
    @extend %dmsans-400;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    padding: 10px 19px 10px 14px;
    cursor: pointer;  
  }
}

.footer-bottom {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 32px;
  &__menu-item {
    display: inline;
    &::after {
      content: '|';
      font-size: 18px;
      padding: 0 13px;
    }
    &:last-child::after {
      display: none;
    }
  }    
}

@import 'media';