.modal {
  padding-top: 106px;
  max-width: 500px;
  margin: 0 auto 121px;
  width: 100%;

  &__label {
    display: block;
    margin-bottom: 15px;
    color: $blue;
    line-height: 40px;
  }

  &__form-label {
    margin-bottom: 0;
    cursor: pointer;
    padding-left: 25px;
  }

  &__input {
    display: block;
    width: 100%;
    border: 2px solid #f6f6f6;
    height: 58px;
    padding: 0 15px;
  }

  &__btn {
    color: #fffefe;
    border: none;
    background-color: $neptun;
    margin: 26px 0 22px;
    cursor: pointer;
  }

  &__btn,
  &__bottom-btn {
    width: 100%;
    @extend %rubik-500;
    font-size: 18px;
    padding: 17px 0;
  }

  &__bottom-btn {
    display: block;
    color: $accent;
    border: 2px solid $neptun;
    margin-top: 21px;
    padding: 19px 0;

  }

  &__form-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 18px;
    border-bottom: 2px solid #f6f6f6;
    margin-bottom: 27px;
  }

  &__link {
    color: $blue;
  }

  &__bottom {
    text-align: center;
  }

  &__form-input {
    @extend %checkbox-hidden;

    &:checked+.modal__form-checkbox {
      background-image: url(../images/icons/check-solid.svg);
      background-repeat: no-repeat;
      background-position: right;
    }
  }

  &__form-checkbox {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    margin-left: -25px;
    margin-top: 12px;
    background-color: #ebebeb;
  }
}