<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GLEE | About us</title>
  <link rel="stylesheet" href="css/aboutus.min.css">
</head>

<body>

  {% include 'app/module/_header/_header.html' %}
  
  <main class="main">

    <section class="top-container">
      <div class="container">
        <h3 class="top-container__title">About Us</h3>
        <div class="breadcrumbs">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a href="#" class="breadcrumbs__link" href="#">Home</a>
            </li>
            <li class="breadcrumbs__item">
              <a href="#" class="breadcrumbs__link" href="#">About Us</a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="about">
      <div class="container">
        <div class="about-top">
          <div class="about-top__img">
            <img class="about-top__image" src="images/about-img.jpg" alt="about us image">
          </div>
          <div class="about-top__content">
            <div class="about-top__subtitle">
              <span class="about-top__subtitle-num">12</span>
              <div class="about-top__items-text">
                <p class="about-top__subtitle-text">
                  Years
                </p>
                <p class="about-top__subtitle-text">
                  Experience
                </p>
                <p class="about-top__subtitle-text">
                  Working
                </p>
              </div>
            </div>
            <h4 class="about__title">
              Mission of our creative house
            </h4>
            <p class="about-top__text">
              consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
              ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
              dolor in
              reprehenderit in voluptate velit esse cillum
            </p>
            <div class="about-top__inner">
              <div class="about-top__num about-top__projects">
                <h3 class="about__title">520+</h3>
                <p class="about-top__num-text">Projects</p>
              </div>
              <div class="about-top__num about-top__revenue">
                <h3 class="about__title">$4M</h3>
                <p class="about-top__num-text">Revenue</p>
              </div>
              <div class="about-top__num about-top__awards">
                <h3 class="about__title">250</h3>
                <p class="about-top__num-text">Awards</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="statistics">
      <div class="container">
        <div class="statistics__items">
          <div class="statistics__item">
            <div class="statistics__icons">
              <img class="statistics__item-img" src="images/icons/satisfied.svg" alt="statistics icon">
            </div>
            <h3 class="about__title">99%</h3>
            <p class="statistics__item-text">Satisﬁed Clients Rate</p>
          </div>
          <div class="statistics__item">
            <div class="statistics__icons">
              <img class="statistics__item-img" src="images/icons/delivered.svg" alt="statistics icon">
            </div>
            <h3 class="about__title">5020+</h3>
            <p class="statistics__item-text">Products Delivered</p>
          </div>
          <div class="statistics__item">
            <div class="statistics__icons">
              <img class="statistics__item-img" src="images/icons/worktime.svg" alt="statistics icon">
            </div>
            <h3 class="about__title">23hr</h3>
            <p class="statistics__item-text">Daily Working Time</p>
          </div>
          <div class="statistics__item">
            <div class="statistics__icons">
              <img class="statistics__item-img" src="images/icons/brands.svg" alt="statistics icon">
            </div>
            <h3 class="about__title">140+</h3>
            <p class="statistics__item-text">Brands in Store</p>
          </div>
        </div>
      </div>
    </section>

    <section class="team">
      <div class="container">
        <div class="team__inner">
          <div class="team__content">
            <h3 class="title team__content-title">Our Team</h3>
            <p class="team__content-text">
              Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, sed do eiusmod tempor inciLorem ipsum dolor
              sit amet,
              consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
              ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <a class="team__content-link" href="#">Join With US</a>
          </div>
          <div class="team__items">
            <div class="team__item">
              <img class="team__item-img" src="images/team/1.jpg" alt="team image">
              <div class="team__item-content">
                <div class="team__item-descr">
                  <h5 class="team__item-title">
                    Eliza Elliot
                  </h5>
                  <p class="team__item-text">
                    Commodo tempor
                  </p>
                </div>
                <div class="team__item-links">
                  <a class="team__item-link" href="#">
                    <img class="team__link-instagram" src="images/icons/instagram.svg" alt="social icon">
                  </a>
                  <a class="team__item-link" href="#">
                    <img class="team__link-google" src="images/icons/google+.svg" alt="social icon">
                  </a>
                </div>
              </div>
            </div>
            <div class="team__item">
              <img class="team__item-img" src="images/team/2.jpg" alt="team image">
              <div class="team__item-content">
                <div class="team__item-descr">
                  <h5 class="team__item-title">
                    Roscoe A.
                  </h5>
                  <p class="team__item-text">
                    Commodo tempor
                  </p>
                </div>
                <div class="team__item-links">
                  <a class="team__item-link" href="#">
                    <img class="team__link-instagram" src="images/icons/instagram.svg" alt="social icon">
                  </a>
                  <a class="team__item-link" href="#">
                    <img class="team__link-google" src="images/icons/google+.svg" alt="social icon">
                  </a>
                </div>
              </div>
            </div>
            <div class="team__item">
              <img class="team__item-img" src="images/team/3.jpg" alt="team image">
              <div class="team__item-content">
                <div class="team__item-descr">
                  <h5 class="team__item-title">
                    Ruby M.
                  </h5>
                  <p class="team__item-text">
                    Commodo tempor
                  </p>
                </div>
                <div class="team__item-links">
                  <a class="team__item-link" href="#">
                    <img class="team__link-instagram" src="images/icons/instagram.svg" alt="social icon">
                  </a>
                  <a class="team__item-link" href="#">
                    <img class="team__link-google" src="images/icons/google+.svg" alt="social icon">
                  </a>
                </div>
              </div>
            </div>
            <div class="team__item">
              <img class="team__item-img" src="images/team/4.jpg" alt="team image">
              <div class="team__item-content">
                <div class="team__item-descr">
                  <h5 class="team__item-title">
                    Marie F. Bloss
                  </h5>
                  <p class="team__item-text">
                    Commodo tempor
                  </p>
                </div>
                <div class="team__item-links">
                  <a class="team__item-link" href="#">
                    <img class="team__link-instagram" src="images/icons/instagram.svg" alt="social icon">
                  </a>
                  <a class="team__item-link" href="#">
                    <img class="team__link-google" src="images/icons/google+.svg" alt="social icon">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include 'app/module/_blog/_blog.html' %}

    {% include 'app/module/_clients/_clients.html' %}    

  </main>

  {% include 'app/module/_footer/_footer-onpages.html' %}

  <script src="js/main.min.js"></script>
</body>

</html>