<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GLEE | Blog details</title>
  <link rel="stylesheet" href="css/blog-details.min.css">
</head>

<body>

  {% include 'app/module/_header/_header.html' %}

  <main class="main">

    <section class="top-container">
      <div class="container">
        <h3 class="top-container__title">Blog Details</h3>
        <div class="breadcrumbs">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a href="#" class="breadcrumbs__link" href="#">Home</a>
            </li>
            <li class="breadcrumbs__item">
              <a href="#" class="breadcrumbs__link" href="#">Blog</a>
            </li>
            <li class="breadcrumbs__item">
              <a href="#" class="breadcrumbs__link" href="#">Blog details</a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="blog-details">
      <div class="container">
        <div class="blog-details__wrapper">
          <div class="blog-details__inner">
            <div class="blog-details__content">
              <div class="blog-content">
                <img class="blog-page__img" src="images/content/blog/img-1.jpg" alt="blog img">
                <div class="blog-page__box blog-box">
                  <div class="blog-box__date">28 JANUARY, 2020</div>
                  <a class="blog-box__author" href="#">BY ADMIN</a>
                </div>
              </div>
              <h3>
                Fonsectetur adipisicing eiusmod
              </h3>
              <h5>
                Sdipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                venia Lorem ipsum
                dolor sit amet, consectetur adipisicing elit,
              </h5>
              <p>
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur
                adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.
              </p>
              <blockquote>
                <p>Sdipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                  veniam, quis
                  nostrud exercitation ullamco laboris</p>
                <span>Wiusmod tempor</span>
              </blockquote>
              <div>
                <img class="blog__img-left" src="images/content/blog/blog-img-left.jpg" alt="blog content img">
                <h4>
                  Riusmod tempor incididunt
                </h4>
                <p>
                  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                  enim ad minim
                  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                </p>
              </div>
              <h4>
                Kajtsal jervcm eoaspckred
              </h4>
              <p>
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              </p>
            </div>
            <div class="blog-details__author">
              <div class="blog-details__author-content">
                <img class="blog-details__author-img" src="images/content/blog/author.jpg" alt="author photo">
                <div class="blog-details__author-desrc">
                  <p class="blog-details__author-name">Mark N. Hernandez</p>
                  <p class="blog-details__author-position">Designer</p>
                </div>
              </div>
              <div class="blog-details__links">
                <div class="blog-details__tags">
                  <span class="blog-details__tags-name">Tags:</span>
                  <a class="blog-details__tag" href="#">All,</a>
                  <a class="blog-details__tag" href="#">Trending</a>
                </div>
                <div class="blog-details__social">
                  <ul class="blog-details__social-items">
                    Share:
                    <li class="blog-details__social-item">
                      <a class="blog-details__social-link" href="#">
                      <img class="blog-details__social-img" src="images/icons/facebook.svg" alt="social icon">
                      </a>
                    </li>
                    <li class="blog-details__social-item">
                      <a class="blog-details__social-link" href="#">
                      <img class="blog-details__social-img" src="images/icons/twitter.svg" alt="social icon">
                      </a>
                    </li>
                    <li class="blog-details__social-item">
                      <a class="blog-details__social-link" href="#">
                      <img class="blog-details__social-img" src="images/icons/instagram-icon.svg" alt="social icon">
                      </a>
                    </li>
                    <li class="blog-details__social-item">
                      <a class="blog-details__social-link" href="#">
                      <img class="blog-details__social-img" src="images/icons/google.svg" alt="social icon">
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="blog-details__comments">
              <p class="blog-details__comments-title">3 Comments</p>
              <div class="blog-details__comments-item">
                <img class="blog-details__comments-img" src="images/content/blog/comments-img-1.jpg" alt="comments img">
                <div class="blog-details__comments-content">
                  <div class="blog-details__comments-top">
                    <p class="blog-details__comments-name">Delores G. Roberts</p>
                    <p class="blog-details__comments-date">
                      Add 11 Oct 2020
                    </p>
                  </div>
                  <p class="blog-details__comments-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla massa et tristique convallis. Class aptent
                    taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse orci sem, ultrices
                  </p>
                  <a class="blog-details__comments-link" href="#">Reply</a>
                </div>
              </div>
              <div class="blog-details__comments-item">
                <img class="blog-details__comments-img" src="images/content/blog/comments-img-2.jpg" alt="comments img">
                <div class="blog-details__comments-content">
                  <div class="blog-details__comments-top">
                    <p class="blog-details__comments-name">Shannon S. Williams</p>
                    <p class="blog-details__comments-date">
                      Add 11 Oct 2020
                    </p>
                  </div>
                  <p class="blog-details__comments-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla massa et tristique convallis. Class
                    aptent
                    taciti sociosqu ad litora torquent per conubia nostra
                  </p>
                  <a class="blog-details__comments-link" href="#">Reply</a>
                </div>
              </div>
              <div class="blog-details__comments-item">
                <img class="blog-details__comments-img" src="images/content/blog/comments-img-3.jpg" alt="comments img">
                <div class="blog-details__comments-content">
                  <div class="blog-details__comments-top">
                    <p class="blog-details__comments-name">Nicholas R. Coley</p>
                    <p class="blog-details__comments-date">
                      Add 11 Oct 2020
                    </p>
                  </div>
                  <p class="blog-details__comments-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla massa et tristique convallis. Class
                    aptent
                    taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse orci sem,
                  </p>
                  <a class="blog-details__comments-link" href="#">Reply</a>
                </div>
              </div>
            </div>
            <form class="blog-details__form">
              <h4 class="blog-details__form-title">Leave A Comment</h4>
              <div class="blog-details__form-input">
                <div class="blog-details__form-name">
                <input class="blog-details__input-name" type="text" placeholder="Name">
                </div>
                <div class="blog-details__form-email">
                <input class="blog-details__input-email" type="text" placeholder="youremail@gmail.com">
                </div>
              </div>
              <div class="blog-details__form-textarea">
                <textarea class="blog-details__textarea" placeholder="Comment"></textarea>
              </div>              
              <button class="blog-details__btn" type="submit">Post Comment</button>
            </form>
          </div>     
          {% include 'app/module/_blog-aside/_blog-aside.html' %}
        </div>
      </div>
    </section>

    {% include 'app/module/_clients/_clients-onpages.html' %}

  </main>

    {% include 'app/module/_footer/_footer-onpages.html' %}

  <script src="js/main.min.js"></script>
</body>

</html>