<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GLEE | Blog</title>
  <link rel="stylesheet" href="css/blog.min.css">
</head>

<body>

  {% include 'app/module/_header/_header.html' %}

  <main class="main">

    <section class="top-container">
      <div class="container">
        <h3 class="top-container__title">Blog</h3>
        <div class="breadcrumbs">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a href="#" class="breadcrumbs__link" href="#">Home</a>
            </li>
            <li class="breadcrumbs__item">
              <a href="#" class="breadcrumbs__link" href="#">Blog</a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="blog-page">
      <div class="container">
        <div class="blog-page__wrapper">
          <div class="blog-page__inner">
            <div class="blog-page__item">
              <div class="blog-page__item-content blog-content">
                <a class="blog-page__img-link" href="#">
                  <img class="blog-page__img" src="images/content/blog/img-1.jpg" alt="blog img">
                </a>
                <div class="blog-page__box blog-box">
                  <div class="blog-box__date">28 JANUARY, 2020</div>
                  <a class="blog-box__author" href="#">BY ADMIN</a>
                </div>
              </div>
              <h3 class="blog-page__item-title">
                <a class="blog-page__item-link" href="#">
                  Fonsectetur adipisicing eiusmod
                </a>
              </h3>
              <p class="blog-page__item-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur
                adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <a class="blog-page__item-btn" href="#">View More</a>
            </div>

            <div class="blog-page__item">
              <div class="blog-page__item-content blog-content">
                <a class="blog-page__img-link" href="#">
                  <img class="blog-page__img" src="images/content/blog/img-2.jpg" alt="blog page img">
                </a>
                <div class="blog-page__box blog-box">
                  <div class="blog-box__date">28 JANUARY, 2020</div>
                  <a class="blog-box__author" href="#">BY ADMIN</a>
                </div>
              </div>
              <h3 class="blog-page__item-title">
                <a class="blog-page__item-link" href="#">
                  Fonsectetur adipisicing elit,
                </a>                
              </h3>
              <p class="blog-page__item-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur
                adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <a class="blog-page__item-btn" href="#">View More</a>
            </div>

            <div class="blog-page__item">
              <div class="blog-page__item-content blog-content">
                <a class="blog-page__img-link" href="#">
                  <img class="blog-page__img" src="images/content/blog/img-3.jpg" alt="blog page img">
                </a>
                <div class="blog-page__box blog-box">
                  <div class="blog-box__date">28 JANUARY, 2020</div>
                  <a class="blog-box__author" href="#">BY ADMIN</a>
                </div>
              </div>
              <h3 class="blog-page__item-title">
                <a class="blog-page__item-link" href="#">
                  Fsectetur adipisicing tempor incididunt                  
                </a>
              </h3>
              <p class="blog-page__item-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad
                minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur
                adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <a class="blog-page__item-btn" href="#">View More</a>
            </div>

            <div class="blog-page__item">
              <div class="blog-page__item-content blog-content">
                <a class="blog-page__img-link" href="#">
                  <img class="blog-page__img" src="images/content/blog/img-4.jpg" alt="blog page img">
                </a>
                <div class="blog-page__box blog-box">
                  <div class="blog-box__date">28 JANUARY, 2020</div>
                  <a class="blog-box__author" href="#">BY ADMIN</a>
                </div>
              </div>
              <h3 class="blog-page__item-title">
                <a class="blog-page__item-link" href="#">
                  vonsectetur adipisicing elit
                </a>
              </h3>
              <p class="blog-page__item-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad
                minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur
                adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <a class="blog-page__item-btn" href="#">View More</a>
            </div>

          </div>
          {% include 'app/module/_blog-aside/_blog-aside.html' %}
        </div>

        <div class="pagination blog-page__pagination">
          <ul class="pagination__list">
            <li class="pagination__item">
              <a class="pagination__link pagination__link--active" href="#">1</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">2</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">3</a>
            </li>
          </ul>
          <a class="pagination__next" href="#">Next</a>
        </div>
        
      </div>
    </section>


    {% include 'app/module/_clients/_clients-onpages.html' %}

  </main>
  {% include 'app/module/_footer/_footer-onpages.html' %}

  <script src="js/main.min.js"></script>
</body>

</html>