.lamp-card {
  &__wrapper {
    display: flex;
  }

  &__item+.lamp-card__item {
    margin-left: 30px;
  }

  &__item {
    background-color: #feefe2;
    max-width: 870px;
    width: 100%;
    padding: 0 90px 86px;
  }

  &__inner-first,
  &__inner-second {
    display: flex;
  }

  &__img-first {
    display: block;
    margin-top: -100px;
    margin-left: 46px;
  }

  &__content-first {
    margin-left: 18px;
    margin-top: 95px;
  }

  &__img-second {
    display: block;
    margin-top: -96px;
    margin-left: 57px;
  }

  &__content-second {
    margin-left: 60px;
    margin-top: 82px;
  }

  &__title {
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    color: $accent;
    margin-bottom: 10px;
  }

  &__title--first {
    margin-bottom: 17px;
    letter-spacing: 0.1px;
  }

  &__content-text {
    @extend %text;
    letter-spacing: 0.1px;
    margin-bottom: 46px;
  }

  &__content-link {
    margin-left: 2px;
    @extend %btn-view;
  }
}

@media (max-width: 1700px) {
  .lamp-card {
    &__item {
      padding: 0px 55px 86px;
    }
    &__img-first,
    &__img-second {
      margin-left: 0;
    }
  }
}

@media (max-width: 1530px) {
  .lamp-card {
    &__item {
      padding: 0px 20px 60px;
    }
    &__img-first,
    &__img-second {
      max-width: 80%;
    }
  }
}

@media (max-width: 1310px) {
  .lamp-card {
    &__img-first,
    &__img-second {
      max-width: 40%;
    }
    &__content-second {
      margin-left: 25px;
    }
  }
}

@media (max-width: 1200px) {
  .lamp-card {
    &__wrapper {
      flex-wrap: wrap;      
    }
    &__item {
      padding: 0px 20px 20px;
      max-width: 100%;
    }
    &__item+.lamp-card__item {
      margin-left: 0;
      margin-top: 120px;
    }
  }
}

@media (max-width: 570px) {
  .lamp-card {
    &__img-first,
    &__img-second {
      display: none;
    }
    &__content-link {
      display: block;
      margin-bottom: 20px;
    }
    &__content-first,
    &__content-second {
      margin: 40px 10px 0 15px;
    }
  }
}


@media (max-width: 390px) {
  .lamp-card {
    &__item {
      padding: 0;
    }
    &__content-first {
      margin-bottom: 14px;
    }

  }
}
