.clients {
  padding: 262px 0 90px;
  background-color: $bg;

  &__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.clients__onpage {
  padding-top: 76px;
}

@media (max-width: 935px) {
  .clients {
    padding: 90px 0;
  }
}

@media (max-width: 790px) {
  .clients {
    padding: 40px 0;
    &__list {
      flex-wrap: wrap;
    }
    &__item {
      padding: 25px;
    }
  }
}

@media (max-width: 430px) {
  .clients {
    padding: 20px 0;
  }
}